<!DOCTYPE html>
<html lang="en" style="scroll-behavior:smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  </head>
<body class="bg-blue-900 flex flex-col justify-center">
   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark lg:h-32 lg:rounded-b-full" style="position: absolute; top: 0; width: 100vw; z-index: 2; width: 98.5vw;">
    <div class="container-fluid">
      <a class="navbar-brand pl-32" href="/">TINXSYS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  lg:ml-24" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="/dealerForm">Dealer/Form Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login CTD/GSTN Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.tinxsys.com/TinxsysInternetWeb/statisticsDashboard.jsp">TINXSYS Data Statistics</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">About TINXSYS</a></li>
              <li><a class="dropdown-item" href="#">About CST</a></li>
              <li><a class="dropdown-item" href="#">About TIN</a></li>
              <li><a class="dropdown-item" href="#">About GSTN</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Links</a></li>
              <li><a class="dropdown-item" href="#">Reports</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.tinxsys.com/TinxsysInternetWeb/statisticsDashboard.jsp">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="flex flex-row justify-center">
    <!-- Main Options -->
    <div class="flex flex-row justify-center mt-24 w-96">
        <section class=" mt-5 px-4 sm:px-6 lg:px-4 xl:px-6 pt-4 pb-4 sm:pb-6 lg:pb-4 xl:pb-6 space-y-4 align-self-start">
            <header class="flex  items-center justify-between">
            <h2 class="md:text-3xl text-2xl leading-6 font-medium text-yellow-100 pl-5">Dealer Search Criteria</h2>
            </header>
            <ul class="flex flex-col">
                <li class="hover:shadow-lg m-2 flex rounded-lg uiDisable ">
                    <a href="#tinForm" class=" cursor-pointer hover:border-transparent hover:shadow-xs w-full flex items-center justify-center rounded-lg border-2  border-gray-200 text-1xl font-medium p-2 text-white no-underline">
                        Search By TIN
                    </a>
                </li>
                <li class="hover:shadow-lg m-2 flex rounded-lg uiDisable">
                    <a href="#cstForm" class=" cursor-pointer hover:border-transparent hover:shadow-xs w-full flex items-center justify-center rounded-lg border-2  border-gray-200 text-1xl font-medium p-2 text-white no-underline">
                        Search By CST Number
                    </a>
                </li>
                <li class=" cursor-pointer hover:shadow-lg m-2 flex rounded-lg uiDisable">
                    <a href="#formVerification" class="hover:border-transparent hover:shadow-xs w-full flex items-center justify-center rounded-lg border-2  border-gray-200 text-1xl font-medium p-2 text-white no-underline">
                        Form Verification
                    </a>
                </li>
            </ul>
        </section>
    </div>
    
    <!-- Search by Tin Form -->
    
    <form id="tinForm" class="w-96 align-self-center mx-auto my-36 pt-28 " data-aos="fade-right" >
      <div class="form-group">
        <h2 class="text-white">TIN Search</h2>
        <label for="tinNumberForm" class="text-white my-3">Tin Number</label>
        <input type="number" class="form-control" id="tinNumberForm" aria-describedby="emailHelp" placeholder="Enter Tin Number Here" required minlength="11" maxlength="11">
        <!-- <small id="emailHelp" class="form-text text-muted text-white">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="form-group">
        <label for="tinNumberFormCaptcha" class="text-white my-3">Captcha</label>
        <input type="text" class="form-control" id="tinNumberFormCaptcha" placeholder="Captcha"  required >
      </div>
      <div class="flex flex-col items-center ">
        <img src="./captchaImgs/<%= captchaValue %>.jpeg" class="mt-3 rounded-md  w-40 h-12" alt="Captcha Image"/>
      </div>
      <button  class="btn btn-primary my-3" id="tinSubmit">Submit</button>
    </form>
    
    
    <!-- Search by CST Number -->
    
    
    <form id="cstForm" class="w-96 align-self-center mx-auto my-36 pt-28 hidden" data-aos="fade-left">
      <div class="form-group">
        <h2 class="text-white">CST Search</h2>
        <label for="stateNameCst" class="text-white my-3">State Name</label>
        <select class="form-control" id="stateNameCst" required>
            <option value="">---Select State--- </option>
            
            <option value="28">
                      Andhra Pradesh</option> 
            
            <option value="37">
                      Andhra Pradesh New</option> 
            
            <option value="12">
                      Arunachal Pradesh</option> 
            
            <option value="18">
                      Assam</option> 
            
            <option value="10">
                      Bihar</option> 
            
            <option value="04">
                      Chandigarh</option> 
            
            <option value="22">
                      Chattisgarh</option> 
            
            <option value="26">
                      Dadra and Nagar Haveli</option> 
            
            <option value="25">
                      Daman and Diu</option> 
            
            <option value="07">
                      Delhi</option> 
            
            <option value="30">
                      Goa</option> 
            
            <option value="24">
                      Gujarat</option> 
            
            <option value="06">
                      Haryana</option> 
            
            <option value="02">
                      Himachal Pradesh</option> 
            
            <option value="01">
                      Jammu and Kashmir</option> 
            
            <option value="20">
                      Jharkhand</option> 
            
            <option value="29">
                      Karnataka</option> 
            
            <option value="32">
                      Kerala</option> 
            
            <option value="23">
                      Madhya Pradesh</option> 
            
            <option value="27">
                      Maharashtra</option> 
            
            <option value="14">
                      Manipur</option> 
            
            <option value="17">
                      Meghalaya</option> 
            
            <option value="15">
                      Mizoram</option> 
            
            <option value="13">
                      Nagaland</option> 
            
            <option value="21">
                      Odisha</option> 
            
            <option value="34">
                      Pondicherry</option> 
            
            <option value="03">
                      Punjab</option> 
            
            <option value="08">
                      Rajasthan</option> 
            
            <option value="11">
                      Sikkim</option> 
            
            <option value="33">
                      Tamil Nadu</option> 
            
            <option value="36">
                      Telangana</option> 
            
            <option value="16">
                      Tripura</option> 
            
            <option value="09">
                      Uttar Pradesh</option> 
            
            <option value="05">
                      Uttarakhand</option> 
            
            <option value="19">
                      West Bengal</option> 
        </select>
        



        <label for="cstNumberForm" class="text-white my-3"> CST Number</label>
        <input type="number" class="form-control" required id="cstNumberForm" aria-describedby="emailHelp" placeholder="Enter CST Number Here">
        <!-- <small id="emailHelp" class="form-text text-muted text-white">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="form-group">
        <label for="captchaCst"  class="text-white my-3">Captcha</label>
        <input type="text" required class="form-control" id="captchaCst" placeholder="Captcha">
      </div>
      <div class="flex flex-col items-center ">
          <img src="./captchaImgs/<%= captchaValue %>.jpeg" class="mt-3 rounded-md  w-40 h-12" alt="Captcha Image" />
      </div>
        <button id="cstSubmit" class="btn btn-primary my-3">Submit</button>
    </form>



    <!-- Search by Form Number -->
    
    
    <form id="formVerification" class="w-96 align-self-center mx-auto my-16 pt-28 hidden  " data-aos="fade-right">
      <div class="form-group">
        <h2 class="text-white">Search by Form Number</h2>
            
        <label for="formType" class="text-white my-3">Form Type</label>
        <select class="form-control" id="formType">
            <option value="">---Select Form---</option>
            <option value="1">C-Form</option>
            <option value="2">EI-Form</option>
            <option value="3">EII-Form</option>
            <option value="4">F-Form</option>
            <option value="5">H-Form</option>
        </select>

        <label for="stateNameForm" class="text-white my-3">State Name</label>
        <select class="form-control" id="stateNameForm">
            <option value="">---Select State--- </option>
            
            <option value="28">
                      Andhra Pradesh</option> 
            
            <option value="37">
                      Andhra Pradesh New</option> 
            
            <option value="12">
                      Arunachal Pradesh</option> 
            
            <option value="18">
                      Assam</option> 
            
            <option value="10">
                      Bihar</option> 
            
            <option value="04">
                      Chandigarh</option> 
            
            <option value="22">
                      Chattisgarh</option> 
            
            <option value="26">
                      Dadra and Nagar Haveli</option> 
            
            <option value="25">
                      Daman and Diu</option> 
            
            <option value="07">
                      Delhi</option> 
            
            <option value="30">
                      Goa</option> 
            
            <option value="24">
                      Gujarat</option> 
            
            <option value="06">
                      Haryana</option> 
            
            <option value="02">
                      Himachal Pradesh</option> 
            
            <option value="01">
                      Jammu and Kashmir</option> 
            
            <option value="20">
                      Jharkhand</option> 
            
            <option value="29">
                      Karnataka</option> 
            
            <option value="32">
                      Kerala</option> 
            
            <option value="23">
                      Madhya Pradesh</option> 
            
            <option value="27">
                      Maharashtra</option> 
            
            <option value="14">
                      Manipur</option> 
            
            <option value="17">
                      Meghalaya</option> 
            
            <option value="15">
                      Mizoram</option> 
            
            <option value="13">
                      Nagaland</option> 
            
            <option value="21">
                      Odisha</option> 
            
            <option value="34">
                      Pondicherry</option> 
            
            <option value="03">
                      Punjab</option> 
            
            <option value="08">
                      Rajasthan</option> 
            
            <option value="11">
                      Sikkim</option> 
            
            <option value="33">
                      Tamil Nadu</option> 
            
            <option value="36">
                      Telangana</option> 
            
            <option value="16">
                      Tripura</option> 
            
            <option value="09">
                      Uttar Pradesh</option> 
            
            <option value="05">
                      Uttarakhand</option> 
            
            <option value="19">
                      West Bengal</option> 
        </select>
        



        <label for="seriesNumber" class="text-white my-3">Series Number</label>
        <input type="text" class="form-control" id="seriesNumber" aria-describedby="emailHelp" placeholder="Enter Series Number Here">
        <!-- <small id="emailHelp" class="form-text text-muted text-white">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="form-group">
        <label for="serialNumber" class="text-white my-3">Serial Number  <font color="red"> * </font></label>
        <input type="number" class="form-control" id="serialNumber" required placeholder="Enter Serial Number Here">
      </div>
      <div class="form-group">
        <label for="captchaFormValid" class="text-white my-3">Captcha</label>
        <input type="text" class="form-control" id="captchaFormValid" placeholder="Captcha">
      </div>
      <div class="flex flex-col items-center ">
          <img src="./captchaImgs/<%= captchaValue %>.jpeg" class="mt-3 rounded-md  w-40 h-12" alt="Captcha Image" />
      </div>
        <button id="validSubmit" class="btn btn-primary my-3">Submit</button>
    </form>


     <!-- Details table -->
     <table class="table table-striped table-hover  w-2/6 my-36 mx-auto table-dark hidden ">
      <thead class="table-dark rounded-xl">
        <tr>
          <th  scope="col" colspan="2">Dealer details by TIN==>28270199682 Search Time: 03/12/2021 2:52 PM </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> TIN </td>
          <td>28270199682</td>
        </tr>
        <tr>
          <td> CST Number </td>
          <td>28270199682</td>
        </tr>
        <tr>
          <td colspan="1"> Dealer Name </td>
          <td>ASIAN PAINTS LIMITED</td>
        </tr>
        <tr>
          <td colspan="1"> Dealer Address  </td>
          <td><pre>
ESTATE
JAYA NAGAR RTC COLONY
TIRUMALA GIRI
HYD
500015
27795400 </pre></td>
        </tr>
        <tr>
          <td colspan="1">State Name</td>
          <td> Andhra Pradesh </td>
        </tr>
        <tr>
          <td colspan="1">PAN</td>
          <td> AAACA3622K  </td>
        </tr>
        <tr>
          <td colspan="1">
            <pre>
Date of Registration under CST Act 
(DD/MM/YY)
            </pre>
          </td>
          <td>01/04/05</td>
        </tr>
        
        <tr>
          <td colspan="1">Dealer Registration Status under CST Act</td>
          <td>Active </td>
        </tr>
        <tr>
          <td colspan="1"><pre>
This record is valid as on 
(DD/MM/YY)
          </pre>
          </td>
          <td> 28/02/13 </td>
        </tr>
        
      </tbody>
    </table>

   




  </div>
   <!-- print pdf and back buttons -->
   <div class="flex justify-content-center hidden">
    <!-- <button type="button" class="btn btn-primary mr-8">Back</button> -->
    <button type="button" class="btn btn-secondary">Print View</button>
  </div>
    <!-- Terms and Condition -->

    <div class="accordion w-3xl h-10 align-self-center m-10" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Terms of Use
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>


     <!-- footer -->
     <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Disclaimer</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Conditions of use</a></li>
        </ul>
        <p class="text-center text-white ">© Copyright</p>
      </footer>
    </div>


    <!-- Button trigger modal -->
      <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Launch static backdrop modal
      </button> -->

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="width: 80rem; position:relative; left: -22rem ">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Disclaimer</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Although the Goods and Services Tax Network (hereinafter referred as  GSTN), AND Coforge Limited a company incorporated under the provisions of the Companies Act, 1956 (hereinafter referred as MSP) attempt to provide accurate information, names, images, pictures, logos, icons, documents, and materials (collectively, the "Contents") on the Website, no representation, endorsement, or warranty is made that such Contents are accurate or suitable for any particular purpose. 

              GSTN and MSP have not investigated, tested, verified or monitored the contents, information or materials provided on this website. The GSTN and MSP accept no responsibility or liability whatsoever with regard to the information obtained using this site. This information is obtained from States' databases over which the GSTN or MSP do not have any control and for which GSTN and MSP assume no responsibility; it is the responsibility of the Member States to keep their databases complete, accurate and up to date. The information on this website  is not professional or legal advice. 

              The information provided on the website is dynamic in nature and is accurate as on the date of last update of data by the member state which has uploaded the data to the database. 

              It is our goal to minimize disruption caused by technical errors. However, some data or information on our site may have been created or structured in files or formats which are not error-free and no guarantee is made that our service will not be interrupted or otherwise affected by such problems. The information published at this website may be affected by inaccuracies in data entry and typographical errors.  GSTN and MSP accept no responsibility with regard to liabilities incurred as a result of using this site or any linked external sites. The website and its contents are provided on an "as is" basis. Use of the website and its contents is at the user's sole risk. The website and its contents are provided without any representations, endorsements, or warranties of any kind whatsoever, either express or implied, including, but not limited to, any warranties of title or accuracy and any implied warranties of merchantability, fitness for a particular purpose, or non-infringement. 

              Limitation of liability 

              In no event will the GSTN or MSP be liable for any damages, including, without limitation, indirect, incidental, special, consequential or punitive damages, whether under a contract, tort or any other theory of liability, arising in connection with any party's use of the website or in connection with any failure of performance, error, omission, interruption, defect, delay in operation or transmission, computer virus, line system failure, loss of data, or loss of use related to this website or any website operated by any third party or any contents of this website or any other website, even if the GSTN or MSP are aware of the possibility of such damages. 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary" id="understoodButton">Understood</button> -->
              <a  id="dealerFormButton" href="/dealerForm" class="btn btn-success">Go somewhere</a>

            </div>
          </div>
        </div>
      </div>
    





      <script>
        var getCaptcha = "<%= captchaValue%> ";
      </script>
      <script src="./js/dealerForm.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init({
                  delay: 2,
                  easing: 'ease',
                  duration : 900
        
        });
      </script>
    
  </body>
</html>