<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/styles.css">
    <style>
     :root {
  --primary-text-color: #10182f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  display: flex;
  justify-content: center;
  background-color: #f7f8fc;
  font-family: "M PLUS Rounded 1c", sans-serif;
} */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  width: 90%;
  /* max-width: 550px; */
  background-color: #fff;
  padding: 2em 0em;
  border-radius: 15px;
  box-shadow: 0px 0px 39px 6px rgba(0, 0, 0, 0.02);
}
.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-text-color);
}
.intro {
  margin-bottom: 3em;
  color: var(--primary-text-color);
}
/* ACCORDION ITEM */
.accordion-items {
  text-align: center;
  width: 90%;
}
.accordion-items-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  min-height: 3.5rem;
  cursor: pointer;
}
.accordion-items-title {
  color: #545d7a;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: left;
}
.accordion-items-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.accordion-items-body-content {
  /* width: 80%; */
  padding-top: 1em;
  color: var(--primary-text-color);
  text-align: left;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 2px solid;
  width: 34px;
  height: 34px;
  color: #f7f8fc;
  transition: color 0.25s;
  position: relative;
  border-radius: 100%;
}
.icon:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: #545d7a;
  border-radius: 20px;
  pointer-events: all;
  transition: all 0.3s ease-in-out;
}
.icon:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 14px;
  background-color: #545d7a;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.accordion-items-header.active > .icon::before {
  transform: rotate(180deg);
}
.accordion-items-header.active > .icon::after {
  transform: rotate(90deg);
}
.divider {
  width: 100%;
  height: 1px;
  margin: 10px 0 10px 0;
  background-color: #dae1f5;
}
button {
  display: block;
  margin-top: 1.2em;
  padding: 0.6em 1.8em;
  border-radius: 30px;
  color: var(--primary-text-color);
  background: none;
  font-weight: 700;
  border: 2px solid #dae1f5;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
button:hover {
  background-color: #dae1f5;
}

  </style>


</head>
<body class="flex flex-col bg-blue-900">



<div class="my-10 ">
<div class="content mx-auto">
  <div class="title">Status of Data Extraction</div>
  <% for(var i=0; i < 35;i++){ %>
  <div class="accordion-items">
    <div id="test" class="accordion-items-header">
      <div class="text-sm px-16 text-gray-500">
      <div class="accordion-items-title">Andhra Pradesh</div>
          <span >16/12/2021</span>
          <span >14:20</span>
      </div>

      <span class="icon"></span>
    </div>
    <div class="accordion-items-body">
      <div class="accordion-items-body-content">
        <div class="card w-11/12 mx-auto my-2 rounded-xl">  
          <table class="table table-light table-hover ">
          <thead>
            <tr class="w-full rounded-xl">
              <th scope="col" colspan="6" class="text-center rounded-xl">Detailed Information of data extracted for Andhra Pradesh</th>
            </tr>
            <tr>
              <th scope="col">S. No.</th>
              <th scope="col">Data Type</th>
              <th scope="col">Last Extracted Date	</th>
              <th scope="col">Extracted record count</th>
              <th scope="col">Correct records</th>
              <th scope="col">Error records</th>
            </tr>
          </thead>
            <tr>
              <th scope="row">1</th>
              <td>	Dealer Main Business Information</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>C Form Issued</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="1">C Form Utilization</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Thornton</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td colspan="1">C Form Invoice details</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Thornton</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td colspan="1">F Form Issued</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Thornton</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td colspan="1">	F Form Utilization</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Thornton</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td colspan="1">	F Form Invoice details</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Thornton</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td colspan="1">	H Form Issued</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Thornton</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td colspan="1">	H Form Utilization</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Thornton</td>
              <td>@twitter</td>
            </tr>
            <tr class="pb-10">
              <th scope="row">10</th>
              <td colspan="1">	H Form Invoice details</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Thornton</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <% } %>

  
</div>
</div></div>
      
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>

  <script>
    const accordionItemHeaders = document.querySelectorAll(
  ".accordion-items-header"
);

accordionItemHeaders.forEach((accordionItemHeader) => {
  accordionItemHeader.addEventListener("click", (event) => {
    // Allow to collapse one item at a time
    const currentlyActiveAccordionItemHeader = document.querySelector(
      ".accordion-items-header.active"
    );
    if (
      currentlyActiveAccordionItemHeader &&
      currentlyActiveAccordionItemHeader !== accordionItemHeader
    ) {
      currentlyActiveAccordionItemHeader.classList.toggle("active");
      currentlyActiveAccordionItemHeader.nextElementSibling.style.maxHeight = 0;
    }
    //

    accordionItemHeader.classList.toggle("active");
    const accordionItemBody = accordionItemHeader.nextElementSibling;
    if (accordionItemHeader.classList.contains("active")) {
      accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
    } else {
      accordionItemBody.style.maxHeight = 0;
    }
  });
  accordionItemHeader.addEventListener("click", function () {
    document.getElementById("test").scrollIntoView({ behavior: "smooth" });
  });
});

  </script>
</html>