<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginCTD</title>
    <link rel="icon" type="image/x-icon" href="/images/logo_white.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/styles.css">

</head>
<body class="flex flex-col bg-blue-900">

    <!-- Navbar -->
  

   <nav class="navbar navbar-expand-lg navbar-dark bg-dark lg:h-32 lg:rounded-b-full" id="navbar" style="position: absolute; top: 0; width: 100vw; z-index: 2; width: 98.5vw;">
    <div class="container-fluid">
      <a class="navbar-brand pl-32" href="/">TINXSYS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  lg:ml-24" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " id="dealerFormNav" href="/dealerForm">Dealer/Form Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/loginCTD">Login CTD/GSTN Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.tinxsys.com/TinxsysInternetWeb/statisticsDashboard.jsp">TINXSYS Data Statistics</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">About TINXSYS</a></li>
              <li><a class="dropdown-item" href="#">About CST</a></li>
              <li><a class="dropdown-item" href="#">About TIN</a></li>
              <li><a class="dropdown-item" href="#">About GSTN</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Links</a></li>
              <li><a class="dropdown-item" href="#">Reports</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.tinxsys.com/TinxsysInternetWeb/statisticsDashboard.jsp">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Personal Details -->
     <div class="flex flex-col align-center ">
        <form id="personalDetails" class="w-full md:w-3/5 mt-8 pt-28  mx-auto " data-aos="fade-right" >
            <!-- <button type="button" class="btn btn-secondary mb-2" id="personalBack">Back</button> -->
            <div class="form-group">
                <h2 class="text-white font-semibold text-3xl mb-5 ml-2">Personal Details</h2>

                <div class="flex flex-row justify-around">
                    <div>
                        <label for="firstName" class="text-white my-1">First Name</label>
                        <div class="flex flex-col">
                            <input type="text" class="form-control " id="firstName" aria-describedby="emailHelp" placeholder="Enter First Name" required maxlength="30">
                        </div>
                    </div>

                    <div>
                        <label for="middleName" class="text-white my-1">Middle Name</label>
                        <div class="flex flex-col">
                            <input type="text" class="form-control " id="middleName" aria-describedby="emailHelp" placeholder="Enter Middle Name">
                        </div>
                    </div>
                </div>

                <div class="flex flex-row justify-around">
                    <div>
                        <label for="lastName" class="text-white my-1">Last Name</label>
                        <div class="flex flex-col">
                            <input type="text" class="form-control " id="lastName" aria-describedby="emailHelp" placeholder="Enter Last Name" required maxlength="30">
                        </div>
                    </div>

                    <div>
                        <label for="mobileNo" class="text-white my-1">Mobile Number</label>
                        <div class="flex flex-col">
                            <input type="number" class="form-control " id="mobileNo" aria-describedby="emailHelp" placeholder="Enter Mobile Number" required minlength="10" maxlength="10" >
                            <p id="validMobileNo" class="ml-2 mt-2 text-yellow-300 text-sm"></p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-row justify-around">
                    <div class="flex flex-col">
                        <label for="emailId" class="text-white my-1">Email ID</label>
                        <div class="flex flex-col">
                            <input type="email" class="form-control " id="emailId" aria-describedby="emailHelp" placeholder="Enter Email ID" required maxlength="40">
                        </div>
                        <div class="flex flex-col">
                            <label for="stateName" class="text-white my-3">State Name</label>
                            <select class="form-control " id="stateName" required>
                                <option value="">---Select State--- </option>
                                
                                <option value="28">
                                          Andhra Pradesh</option> 
                                
                                <option value="37">
                                          Andhra Pradesh New</option> 
                                
                                <option value="12">
                                          Arunachal Pradesh</option> 
                                
                                <option value="18">
                                          Assam</option> 
                                
                                <option value="10">
                                          Bihar</option> 
                                
                                <option value="04">
                                          Chandigarh</option> 
                                
                                <option value="22">
                                          Chattisgarh</option> 
                                
                                <option value="26">
                                          Dadra and Nagar Haveli</option> 
                                
                                <option value="25">
                                          Daman and Diu</option> 
                                
                                <option value="07">
                                          Delhi</option> 
                                
                                <option value="30">
                                          Goa</option> 
                                
                                <option value="24">
                                          Gujarat</option> 
                                
                                <option value="06">
                                          Haryana</option> 
                                
                                <option value="02">
                                          Himachal Pradesh</option> 
                                
                                <option value="01">
                                          Jammu and Kashmir</option> 
                                
                                <option value="20">
                                          Jharkhand</option> 
                                
                                <option value="29">
                                          Karnataka</option> 
                                
                                <option value="32">
                                          Kerala</option> 
                                
                                <option value="23">
                                          Madhya Pradesh</option> 
                                
                                <option value="27">
                                          Maharashtra</option> 
                                
                                <option value="14">
                                          Manipur</option> 
                                
                                <option value="17">
                                          Meghalaya</option> 
                                
                                <option value="15">
                                          Mizoram</option> 
                                
                                <option value="13">
                                          Nagaland</option> 
                                
                                <option value="21">
                                          Odisha</option> 
                                
                                <option value="34">
                                          Pondicherry</option> 
                                
                                <option value="03">
                                          Punjab</option> 
                                
                                <option value="08">
                                          Rajasthan</option> 
                                
                                <option value="11">
                                          Sikkim</option> 
                                
                                <option value="33">
                                          Tamil Nadu</option> 
                                
                                <option value="36">
                                          Telangana</option> 
                                
                                <option value="16">
                                          Tripura</option> 
                                
                                <option value="09">
                                          Uttar Pradesh</option> 
                                
                                <option value="05">
                                          Uttarakhand</option> 
                                
                                <option value="19">
                                          West Bengal</option> 
                            </select>
                            <p id="stateValidCst" class="ml-2 mt-2 text-yellow-300 text-sm"></p>
                        </div>
                    </div>

                    <div>
                        <label for="address" class="text-white my-1">Address</label>
                        <div class="flex flex-col">
                            <textarea  class="form-control w-52 h-36 resize-none" id="address" aria-describedby="emailHelp" placeholder="Enter Address" required ></textarea>
                            <p id="validAddress" class="ml-2 mt-2 text-yellow-300 text-sm"></p>
                        </div>
                    </div>
                </div>

                <!-- <div class="flex flex-row justify-around">
                    

                    
                </div> -->
                <div class="flex flex-row justify-around">
                    <button  class="btn btn-primary my-3" id="nextPersonal">Next</button>
                </div>

            </div>
        </form>



        <!-- Login Details -->
        <form id="loginDetails" class="w-full md:w-3/5 mt-8 pt-28  mx-auto hidden" data-aos="fade-right" >
            <div class="form-group">
                <h2 class="text-white font-semibold text-3xl mb-5 ml-2">Login Details</h2>
                <div class="flex flex-row justify-around text-yellow-300 text-xl" id="loginNotification">

                </div>
                <div class="flex flex-row justify-around">
                    <div>
                        <label for="userId" class="text-white my-1">User ID</label>
                        <div class="flex flex-col">
                            <input type="text" class="form-control " id="userId" aria-describedby="emailHelp" placeholder="userId" value="" readonly>
                            <p id="validUserId" class="ml-2 mt-1 text-yellow-300 text-sm"></p>
                        </div>
                    </div>

                    <div>
                        <label for="loginId" class="text-white my-1">Login ID</label>
                        <div class="flex flex-col">
                            <input type="text" class="form-control " id="loginId" aria-describedby="emailHelp" placeholder="loginId" onchange="checkIdAvailability()">
                            <p id="validLoginId" class="ml-2 mt-2 text-yellow-300 text-sm"></p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-row justify-around">
                    <div>
                        <label for="password" class="text-white my-1">Password</label>
                        <div class="flex flex-col">
                            <input type="password" class="form-control " id="password" aria-describedby="emailHelp" placeholder="Enter Password Here" required maxlength="30">
                            <p id="validPassword" class="ml-2 mt-2 text-yellow-300 text-sm"></p>
                        </div>
                    </div>

                    <div>
                        <label for="role" class="text-white my-1">Role</label>
                        <select class="form-control w-52" id="role" required>
                            <option value="">---Select Role--- </option>
                            
                            <option value="CTD Officer">
                                      CTD Officer</option> 
                            <option value="Admin">
                                      Admin</option> 
                            <option value="Database Operator">
                                Database Operator</option> 
                            <option value="Data Analyst">
                                Data Analyst</option> 
                            
                        </select>
                    </div>
                </div>

                <div class="flex flex-row justify-around">
                    <div class="form-check my-1">
                        <input class="form-check-input mt-2" type="checkbox" value="1" id="activeState" checked>
                        <label class="form-check-label text-white text-xl" for="activeState">
                          Active State
                        </label>
                      </div>

                      <div class="form-check my-1">
                        <input class="form-check-input mt-2" type="checkbox" value="1" id="firstTimeLogin" checked  >
                        <label class="form-check-label text-white text-xl" for="firstTimeLogin">
                          First Time Login
                        </label>
                      </div>
                </div>

                <div class="flex flex-row justify-around">
                    <div class="flex flex-col">
                        <label for="validity" class="text-white my-3">Validity</label>
                        <select class="form-control " id="validity" required>
                            <option value="">---Select Validity--- </option>
                            <option value="6">
                                      Max 6 Months</option> 
                            <option value="3">
                                      Max 3 Months</option> 
                            <option value="2">
                                      Max 2 Months</option> 
                        </select>
                        <p id="validValidity" class="ml-2 mt-2 text-yellow-300 text-sm"></p>
                    </div>

                    
                </div>
                <div class="flex flex-row justify-around">
                    <button type="button" class="btn btn-secondary my-3" id="loginBack">Back</button>
                    <button  class="btn btn-primary my-3" id="nextLogin">Next</button>
                </div>
            </div>
        </form>
    </div>


        <!-- Official Details -->
        <form id="officialDetails" class="w-full md:w-3/5 mt-8 pt-28  mx-auto hidden" data-aos="fade-right" >
            <div class="form-group">
                <h2 class="text-white font-semibold text-3xl mb-5 ml-2">Official Details</h2>

                <div class="flex flex-row justify-around">
                    <div>
                        <label for="designationCoforge" class="text-white my-1">Designation in Coforge</label>
                        <select class="form-control w-52" id="designationCoforge" required>
                            <option value="">-Select Designation in Coforge-</option>
                            
                            <option value="CTD Officer">
                                CTD Officer</option> 
                            <option value="Admin">
                                        Admin</option> 
                            <option value="Database Operator">
                                Database Operator</option> 
                            <option value="Data Analyst">
                                Data Analyst</option> 
                            
                        </select>
                    </div>

                    <div>
                        <label for="designationCtd" class="text-white my-1">Designation in CTD</label>
                        <select class="form-control w-52" id="designationCtd" required>
                            <option value="">-Select Designation in CTD-</option>
                            
                            <option value="CTD Officer">
                                CTD Officer</option> 
                            <option value="Admin">
                                        Admin</option> 
                            <option value="Database Operator">
                                Database Operator</option> 
                            <option value="Data Analyst">
                                Data Analyst</option> 
                            
                        </select>
                    </div>
                </div>

                <div class="flex flex-row justify-around">
                    <div>
                        <label for="location" class="text-white my-1">Location</label>
                        <div class="flex flex-col">
                            <input type="text" class="form-control " id="location" placeholder="Enter Location Here" required maxlength="60">
                            <p id="validLocation" class="ml-2 mt-2 text-yellow-300 text-sm"></p>
                        </div>
                    </div>

                    <div>
                        <label for="ctdName" class="text-white my-1">CTD Name</label>
                        <select class="form-control w-52" id="ctdName" required>
                            
                        </select>
                    </div>
                </div>

                <div class="flex flex-row justify-around">
                    <div>
                        <label for="ctdMobile" class="text-white my-1">CTD Mobile No.</label>
                        <div class="flex flex-col">
                            <input type="number" class="form-control " id="ctdMobile" aria-describedby="emailHelp" placeholder="Enter CTD Mobile No. Here" required maxlength="30">
                            <p id="validCtdMobile" class="ml-2 mt-2 text-yellow-300 text-sm"></p>
                        </div>
                    </div>

                    <div>
                        <label for="ctdEmail" class="text-white my-1">CTD Email</label>
                        <div class="flex flex-col">
                            <input type="email" class="form-control " id="ctdEmail" aria-describedby="emailHelp" placeholder="Enter CTD Email Here" required maxlength="30">
                            <p id="validCtdEmail" class="ml-2 mt-2 text-yellow-300 text-sm"></p>
                        </div>
                    </div>
                </div>

                <div class="flex flex-row justify-around">
                    <button type="button" class="btn btn-secondary my-3" id="officialBack">Back</button>
                    <button  class="btn btn-primary my-3" id="nextOfficial">Next</button>
                </div>
            </div>
        </form>

        <!--Reference Details -->
        <form id="referenceDetails" class="w-full md:w-3/5 mt-8 pt-28  mx-auto hidden" data-aos="fade-right" >
            <div class="form-group">
                <h2 class="text-white font-semibold text-3xl mb-5 ml-2">Reference Details</h2>

                <div class="flex flex-row justify-around">
                    <div>
                        <label for="referenceName" class="text-white my-1">Reference Name</label>
                        <select class="form-control w-52" id="referenceName" required>
                            
                        </select>
                    </div>

                    <div>
                        <label for="stateCodeReference" class="text-white my-1">State Code</label>
                        <div class="flex flex-col">
                            <input type="text" class="form-control " id="stateCodeReference" placeholder="State Code" required maxlength="10" readonly>
                        </div>
                    </div>
                    
                </div>

                <div class="flex flex-row justify-around">
                    <div>
                        <label for="adminUser" class="text-white my-1">Admin User</label>
                        <div class="flex flex-col">
                            <input type="text" class="form-control " id="adminUser" placeholder="Enter Admin User Here" required maxlength="30" >
                        </div>
                    </div>


                </div>

                <div class="flex flex-row justify-around">
                    <button type="button" class="btn btn-secondary my-3" id="referenceBack">Back</button>
                    <button  class="btn btn-primary my-3" id="nextReference">Save</button>
                </div>
            </div>
        </form>
    </div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="./js/loginCTD.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>